@model WS01.Models.LinksInterventions

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LinksInterventions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commentaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkAspNetUsersNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkAspNetUsersNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkInterventionsTypesNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkInterventionsTypesNavigation.InterventionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkIxAntenneNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkIxAntenneNavigation.PkAntenne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkMaterielsStatutsNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkMaterielsStatutsNavigation.PkIxMaterielsStatuts)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkInterventions">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
