@model IEnumerable<WS01.Models.IxMaterielsTypes>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Ajouter un type matériel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaterielType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaterielType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkIxMaterielsTypes">Modifier</a> |
                @*<a asp-action="Details" asp-route-id="@item.PkIxMaterielsTypes">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.PkIxMaterielsTypes">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
