@model IEnumerable<WS01.Models.IxAntenne>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Ajouter une agence</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodePostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodePostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkAntenne">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.PkAntenne">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PkAntenne">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
