@model IEnumerable<WS01.Models.IxMaterielsStatuts>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaterielStatut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterielStatut)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PkIxMaterielsStatuts">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PkIxMaterielsStatuts">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PkIxMaterielsStatuts">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
