@model IEnumerable<WS01.Models.IxMaterielsStatuts>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Ajouter un Statut</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaterielStatut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterielStatut)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PkIxMaterielsStatuts">Modifier</a> |
                    <a asp-action="Details" asp-route-id="@item.PkIxMaterielsStatuts">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PkIxMaterielsStatuts">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
