@model WS01.Models.LinksMaterielsIxMaterielStatuts

@{
    ViewData["Title"] = "Delete";
}
<style>
    body {
        background-repeat: no-repeat;
        background-image: url("/images/links_materiel.png");
        background-position: center;
        background-attachment: fixed;
        background-size: contain;
    }
</style>
<div class="row col-md-12">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-body">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.DateDebut)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DateDebut)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DateFin)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DateFin)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Commentaire)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Commentaire)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FkAspNetUsersNavigation)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FkAspNetUsersNavigation.Email)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FkIxAntenneNavigation)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FkIxAntenneNavigation.Ville)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FkMaterielsNavigation)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FkMaterielsNavigation.Identifiant)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FkMaterielsStatutsNavigation)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FkMaterielsStatutsNavigation.MaterielStatut)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Pk" />
                    <input type="submit" value="Supprimer" class="btn btn-danger" /> 

                </form>

            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

<a asp-action="Index">Retour à la page Demande</a>




