@model WS01.Models.LinksMaterielsIxMaterielStatuts

@{
    ViewData["Title"] = "Details";
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commentaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkAspNetUsersNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkAspNetUsersNavigation.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkIxAntenneNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkIxAntenneNavigation.Ville)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkMaterielsNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkMaterielsNavigation.Identifiant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkMaterielsStatutsNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkMaterielsStatutsNavigation.MaterielStatut)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Pk">Modifier</a> |
    <a asp-action="Index">Retour à la page Demande</a>
</div>
