@model IEnumerable<WS01.Models.LinksMaterielsIxMaterielStatuts>

@{
    ViewData["Title"] = "Index";
}
@section scripts{
    <script type="text/javascript">
        //barre de recherche
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        $(document).ready(function () {
            $("td:contains('Demandé')").css("color", "red");
            $("td:contains('Livré')").css("color", "green");
        });
        $(document).ready(function () {
            var userRole = '@(User.IsInRole("Admin") ? "true" : "false")';
            if (userRole == 'false') { //user
                $('#del').hide();
            }
        });
    </script>
}


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<br>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FkAspNetUsersNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkMaterielsNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkIxAntenneNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkMaterielsStatutsNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentaire)
            </th>
            <th>
                Opérations
            </th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FkAspNetUsersNavigation.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkMaterielsNavigation.Identifiant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkIxAntenneNavigation.Ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkMaterielsStatutsNavigation.MaterielStatut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.Pk">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Pk">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Pk" id="del">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
