@model IEnumerable<WS01.Models.Materiels>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Ajouter une Référence</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Identifiant)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.FkMaterielsTypesNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Identifiant)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.FkMaterielsTypesNavigation.MaterielType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkMateriels">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.PkMateriels">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PkMateriels">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
