@model IEnumerable<WS01.Models.Materiels>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Identifiant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAchat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkMaterielsTypesNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Identifiant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAchat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkMaterielsTypesNavigation.MaterielType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkMateriels">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PkMateriels">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PkMateriels">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
