@model IEnumerable<WS01.Models.AspNetUserRoles>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Affecter un Droit</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Pk">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Pk">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Pk">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
